node-red/flows.json
[
    {
        "id": "a1b46b32.e6ff2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb4e4d64.1c3728",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "40cd91b4.b66fb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b63dd7c9.aacc5",
        "type": "ui_group",
        "name": "First Floor",
        "tab": "40cd91b4.b66fb",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "bfa1c010.c22",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 60,
                "sy": 60,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7b329522.41dba4",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "40cd91b4.b66fb",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "de29ef46.a3d3b",
        "type": "ui_group",
        "name": "Ground Floor",
        "tab": "40cd91b4.b66fb",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "51893bd3.bb7204",
        "type": "mqtt in",
        "z": "a1b46b32.e6ff2",
        "name": "officeTemp",
        "topic": "daikin/Steve's Office/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fb4e4d64.1c3728",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "9d83320d.7a188",
                "3005ff88.867198"
            ]
        ],
        "outputLabels": [
            "fred"
        ]
    },
    {
        "id": "9d83320d.7a188",
        "type": "ui_gauge",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "group": "b63dd7c9.aacc5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Steve's Office",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2c3caaf.fa555",
        "type": "mqtt in",
        "z": "a1b46b32.e6ff2",
        "name": "outsideTemp",
        "topic": "daikin/Steve's Office/outsidetemperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fb4e4d64.1c3728",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "c89b1734.357f2",
                "ac9140cf.eede88"
            ]
        ]
    },
    {
        "id": "c89b1734.357f2",
        "type": "ui_gauge",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "group": "de29ef46.a3d3b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outside",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "d5312f0e.b69a08",
        "type": "ui_chart",
        "z": "a1b46b32.e6ff2",
        "name": "Temps",
        "group": "7b329522.41dba4",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Waiting for Data",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 690,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3005ff88.867198",
        "type": "change",
        "z": "a1b46b32.e6ff2",
        "name": "Rename 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Steve's Office",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "d5312f0e.b69a08"
            ]
        ]
    },
    {
        "id": "ac9140cf.eede88",
        "type": "change",
        "z": "a1b46b32.e6ff2",
        "name": "Rename 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "d5312f0e.b69a08"
            ]
        ]
    },
    {
        "id": "4b5e1003.ac12d8",
        "type": "mqtt in",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "topic": "daikin/Dining Room/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fb4e4d64.1c3728",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "e5216e81.20c758",
                "7f7e4bf7.b7d91c"
            ]
        ],
        "outputLabels": [
            "fred"
        ]
    },
    {
        "id": "e5216e81.20c758",
        "type": "ui_gauge",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "group": "de29ef46.a3d3b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Dining Room",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "7f7e4bf7.b7d91c",
        "type": "change",
        "z": "a1b46b32.e6ff2",
        "name": "Rename 3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Dining Room",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "d5312f0e.b69a08"
            ]
        ]
    },
    {
        "id": "6ccceeed.125e1",
        "type": "mqtt in",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "topic": "daikin/Spare Bedroom/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fb4e4d64.1c3728",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "ff8587ef.7fae08",
                "2093891a.8a56a6"
            ]
        ]
    },
    {
        "id": "ff8587ef.7fae08",
        "type": "ui_gauge",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "group": "b63dd7c9.aacc5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Spare Bedroom",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "2093891a.8a56a6",
        "type": "change",
        "z": "a1b46b32.e6ff2",
        "name": "Rename 4",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Spare Room",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "d5312f0e.b69a08"
            ]
        ]
    },
    {
        "id": "24a02cb8.b8e754",
        "type": "mqtt in",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "topic": "daikin/Paul's Studio/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fb4e4d64.1c3728",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "be9b5b3.86a16a8",
                "837fa99c.de5e28"
            ]
        ]
    },
    {
        "id": "be9b5b3.86a16a8",
        "type": "ui_gauge",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "group": "b63dd7c9.aacc5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Paul's Studio",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "837fa99c.de5e28",
        "type": "change",
        "z": "a1b46b32.e6ff2",
        "name": "Rename ",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Paul's Studio",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "d5312f0e.b69a08"
            ]
        ]
    },
    {
        "id": "82e9099a.aa9bc8",
        "type": "mqtt in",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "topic": "daikin/Master Bedroom/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fb4e4d64.1c3728",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "671d086c.aa27a",
                "52901ce4.5f1ae4"
            ]
        ]
    },
    {
        "id": "671d086c.aa27a",
        "type": "ui_gauge",
        "z": "a1b46b32.e6ff2",
        "name": "",
        "group": "b63dd7c9.aacc5",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Master Bedroom",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 900,
        "wires": []
    },
    {
        "id": "52901ce4.5f1ae4",
        "type": "change",
        "z": "a1b46b32.e6ff2",
        "name": "Rename ",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Master Bedroom",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 820,
        "wires": [
            [
                "d5312f0e.b69a08"
            ]
        ]
    }
]