examples/node-red/Flows/Network.json
[{"id":"f4c72f16.69cdb","type":"tab","label":"Network","disabled":false,"info":""},{"id":"f4eab5d1.0657a","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/MainRouter/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":240,"y":80,"wires":[["7c0b8698.dc505","fe8221af.3cd1d8","2af86598.bd3cf2"]]},{"id":"7c0b8698.dc505","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"b114690f.05b7c","order":1,"width":0,"height":0,"gtype":"gage","title":"4G Router","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":80,"wires":[]},{"id":"2a039c3f.05ecac","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/NAS/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":210,"y":180,"wires":[["667488b.f73ddf8","b2b3b4b9.4161f8","2af86598.bd3cf2"]]},{"id":"667488b.f73ddf8","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"b114690f.05b7c","order":2,"width":0,"height":0,"gtype":"gage","title":"NAS","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"b3d54690.b94d9","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/VoipHub/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":230,"y":280,"wires":[["d239fd3.7f42d","c24a955e.6bdda8","2af86598.bd3cf2"]]},{"id":"d239fd3.7f42d","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"b114690f.05b7c","order":1,"width":0,"height":0,"gtype":"gage","title":"VOIP Hub","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":280,"wires":[]},{"id":"d152703c.d9d1a","type":"ui_chart","z":"f4c72f16.69cdb","name":"","group":"36b2f482.0e502c","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":260,"wires":[[]]},{"id":"fe8221af.3cd1d8","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"4G","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":120,"wires":[["d152703c.d9d1a"]]},{"id":"b2b3b4b9.4161f8","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"NAS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["d152703c.d9d1a"]]},{"id":"c24a955e.6bdda8","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"VOIP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["d152703c.d9d1a"]]},{"id":"7f42d76b.78a96","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/Deco_Main/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":240,"y":440,"wires":[["ea61653a.29ab9","15ac2fd0.d5743"]]},{"id":"ea61653a.29ab9","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"f4a5e580.25b6b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Primary Deco M5","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":440,"wires":[]},{"id":"15ac2fd0.d5743","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"Primary Deco","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["4e552769.431558"]]},{"id":"7bfa1635.5b9528","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/Deco_SpareRoom/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":260,"y":540,"wires":[["c4542d18.6af548","a0720c09.b889d"]]},{"id":"c4542d18.6af548","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"f4a5e580.25b6b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Deco M5 - Spare Room","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":540,"wires":[]},{"id":"a0720c09.b889d","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"Deco Spare Room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["4e552769.431558"]]},{"id":"19ffd7ef.cc045","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/Deco_Paul/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":230,"y":640,"wires":[["b4cc0ae8.1ead88","b3a561f4.e1a76"]]},{"id":"b4cc0ae8.1ead88","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"f4a5e580.25b6b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Deco M5 - Paul's Studio","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":640,"wires":[]},{"id":"b3a561f4.e1a76","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"Deco Paul","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":680,"wires":[["4e552769.431558"]]},{"id":"f9004b6.692a538","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/Deco_Steve/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":240,"y":740,"wires":[["4906c719.b24d5","8c979cf7.8a0448"]]},{"id":"4906c719.b24d5","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"f4a5e580.25b6b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Deco M5 - Steve's Office","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":740,"wires":[]},{"id":"8c979cf7.8a0448","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"Deco Steve","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":780,"wires":[["4e552769.431558"]]},{"id":"4e552769.431558","type":"ui_chart","z":"f4c72f16.69cdb","name":"","group":"36b2f482.0e502c","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":620,"wires":[[]]},{"id":"c5010dc6.7dfb08","type":"mqtt in","z":"f4c72f16.69cdb","name":"","topic":"aghast/hostchecker/PiHole/latency","qos":"0","datatype":"auto","broker":"fb4e4d64.1c3728","x":220,"y":360,"wires":[["70867da1.76015c","e858ad83.15ae58","2af86598.bd3cf2"]]},{"id":"70867da1.76015c","type":"ui_gauge","z":"f4c72f16.69cdb","name":"","group":"b114690f.05b7c","order":1,"width":0,"height":0,"gtype":"gage","title":"Pi Hole","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":360,"wires":[]},{"id":"e858ad83.15ae58","type":"change","z":"f4c72f16.69cdb","name":"Rename 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pi Hole","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["d152703c.d9d1a"]]},{"id":"7dd65d7d.024024","type":"ui_audio","z":"f4c72f16.69cdb","d":true,"name":"","group":"1bea5bfa.f47ad4","voice":"urn:moz-tts:speechd:English%20(Received%20Pronunciation)?en-GB","always":false,"x":1240,"y":120,"wires":[]},{"id":"37fd731.4b2c90c","type":"function","z":"f4c72f16.69cdb","name":"","func":"var splittopic = msg.topic.split(\"/\");\nvar src = splittopic[2];\nmsg.payload = \"Warning, the \" + src + \" latency is \" + msg.payload + \" milliseconds.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":120,"wires":[["dae43a09.2f5bb","7eea2502.d52064"]]},{"id":"c522e258.64ea1","type":"switch","z":"f4c72f16.69cdb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":120,"wires":[["37fd731.4b2c90c"],[]]},{"id":"2af86598.bd3cf2","type":"rbe","z":"f4c72f16.69cdb","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":40,"wires":[["c522e258.64ea1"]]},{"id":"dae43a09.2f5bb","type":"ui_toast","z":"f4c72f16.69cdb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1140,"y":180,"wires":[]},{"id":"6370cb0d.c625bc","type":"ui_switch","z":"f4c72f16.69cdb","d":true,"name":"","label":"Audible Warnings","tooltip":"","group":"b114690f.05b7c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":40,"wires":[["7eea2502.d52064"]]},{"id":"7eea2502.d52064","type":"function","z":"f4c72f16.69cdb","d":true,"name":"control","func":"if (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":120,"wires":[["7dd65d7d.024024"]]},{"id":"fb4e4d64.1c3728","type":"mqtt-broker","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b114690f.05b7c","type":"ui_group","name":"Critical Hosts","tab":"53076947.70088","order":1,"disp":true,"width":"4","collapse":false},{"id":"36b2f482.0e502c","type":"ui_group","name":"Latency History","tab":"53076947.70088","order":4,"disp":true,"width":"12","collapse":false},{"id":"f4a5e580.25b6b8","type":"ui_group","name":"WiFi Mesh","tab":"53076947.70088","order":2,"disp":true,"width":"4","collapse":false},{"id":"1bea5bfa.f47ad4","type":"ui_group","name":"General Hosts","tab":"53076947.70088","order":3,"disp":true,"width":"4","collapse":false},{"id":"53076947.70088","type":"ui_tab","name":"Network","icon":"dashboard","order":4,"disabled":false,"hidden":false}]