examples/node-red/Flows/Tuya_ZigBee.json
[{"id":"adfab7b2.08baf8","type":"mqtt out","z":"7e32efb6.7318a","name":"","topic":"","qos":"0","retain":"false","broker":"fb4e4d64.1c3728","x":1210,"y":80,"wires":[]},{"id":"49fe8af5.f47724","type":"ui_colour_picker","z":"7e32efb6.7318a","name":"","label":"","group":"ee21b06d.81921","format":"hsv","outformat":"object","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":6,"width":"5","height":"4","passthru":false,"topic":"aghast/tuya/client/Office Tuya Lamp/colour_data_v2","x":890,"y":260,"wires":[["adfab7b2.08baf8"]]},{"id":"7a32ab3c.f39624","type":"ui_slider","z":"7e32efb6.7318a","name":"","label":"Brightness","tooltip":"","group":"ee21b06d.81921","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"aghast/tuya/client/Office Tuya Lamp/bright_value_v2","min":"10","max":"1000","step":"10","x":890,"y":140,"wires":[["adfab7b2.08baf8"]]},{"id":"fae97f92.4fa5c","type":"ui_slider","z":"7e32efb6.7318a","name":"","label":"Temperature","tooltip":"","group":"ee21b06d.81921","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"aghast/tuya/client/Office Tuya Lamp/temp_value_v2","min":0,"max":"1000","step":"10","x":890,"y":200,"wires":[["adfab7b2.08baf8"]]},{"id":"5325f3a1.8d8efc","type":"ui_button","z":"7e32efb6.7318a","name":"","group":"ee21b06d.81921","order":1,"width":"2","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"aghast/tuya/client/Office Tuya Lamp/switch","x":130,"y":60,"wires":[["adfab7b2.08baf8","c8c3df0b.55c8f"]]},{"id":"b5e02d35.2c22a","type":"ui_button","z":"7e32efb6.7318a","name":"","group":"ee21b06d.81921","order":2,"width":"2","height":"1","passthru":false,"label":"White","tooltip":"","color":"","bgcolor":"","icon":"","payload":"White","payloadType":"str","topic":"aghast/tuya/client/Office Tuya Lamp/switch","x":130,"y":100,"wires":[["adfab7b2.08baf8","c8c3df0b.55c8f"]]},{"id":"24d7c584.fff8ea","type":"ui_button","z":"7e32efb6.7318a","name":"","group":"ee21b06d.81921","order":3,"width":"2","height":"1","passthru":false,"label":"Colour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Colour","payloadType":"str","topic":"aghast/tuya/client/Office Tuya Lamp/switch","x":130,"y":140,"wires":[["adfab7b2.08baf8","c8c3df0b.55c8f"]]},{"id":"cc5bfa2c.7f6938","type":"mqtt in","z":"7e32efb6.7318a","name":"","topic":"aghast/tuya/Office Tuya Lamp/status","qos":"0","datatype":"json","broker":"fb4e4d64.1c3728","x":220,"y":200,"wires":[["c8c3df0b.55c8f"]]},{"id":"c8c3df0b.55c8f","type":"function","z":"7e32efb6.7318a","name":"TuyaLampControlUpdate","func":"var brightMsg = { payload: \"brightness\" };\nvar tempMsg = { payload: \"temp\" };\nvar colourMsg = { payload: \"colour\" };\n\nif (typeof msg.payload.WorkMode !== 'undefined') {\n    // handle payload from MQTT...\n    if (msg.payload.SwitchLED ) {\n        if (msg.payload.WorkMode === \"white\") {\n            // msg.payload = 'white';\n            // return [null, msg, null];\n            brightMsg.enabled = true;\n            brightMsg.payload = msg.payload.BrightValueV2;\n            tempMsg.enabled = true;\n            tempMsg.payload = msg.payload.TempValueV2;\n            colourMsg.enabled = false;\n        } else {\n            // msg.payload = 'colour';\n            // return [null, null, msg];\n            brightMsg.enabled = false;\n            tempMsg.enabled = false;\n            colourMsg.enabled = true;\n            colourMsg.payload = \"hsv(1, 1, 1)\";\n        }\n    } else {\n        // msg.payload = 'off';\n        // return [msg, null, null];\n        brightMsg.enabled = false;\n        tempMsg.enabled = false;\n        colourMsg.enabled = false;\n    }\n} else {\n    // handle button payload...\n    switch (msg.payload) {\n        case \"Off\":\n            brightMsg.enabled = false;\n            tempMsg.enabled = false;\n            colourMsg.enabled = false;\n            break;\n        case \"White\":\n            brightMsg.enabled = true;\n            tempMsg.enabled = true;\n            colourMsg.enabled = false;\n            break;\n        case \"Colour\":\n            brightMsg.enabled = false;\n            tempMsg.enabled = false;\n            colourMsg.enabled = true;            \n    }\n}\nreturn [brightMsg, tempMsg, colourMsg];\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":630,"y":200,"wires":[["7a32ab3c.f39624"],["fae97f92.4fa5c"],["49fe8af5.f47724"]]},{"id":"472d0c4a.139cc4","type":"ui_switch","z":"7e32efb6.7318a","name":"","label":"Stairway Socket","tooltip":"","group":"966f0c62.49115","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"aghast/tuya/client/LIDL Stairway Socket/switch","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":900,"y":360,"wires":[["adfab7b2.08baf8"]]},{"id":"b815f7cb.044e98","type":"ui_switch","z":"7e32efb6.7318a","name":"","label":"Towel Rail","tooltip":"","group":"966f0c62.49115","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"aghast/tuya/client/Towel Rail Socket/switch","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":890,"y":420,"wires":[["adfab7b2.08baf8"]]},{"id":"5c11def9.51f97","type":"mqtt in","z":"7e32efb6.7318a","name":"","topic":"aghast/tuya/LIDL Stairway Socket/status","qos":"0","datatype":"json","broker":"fb4e4d64.1c3728","x":240,"y":360,"wires":[["b4fe3479.93e908"]]},{"id":"b4fe3479.93e908","type":"function","z":"7e32efb6.7318a","name":"TuyaSocketControlUpdate","func":"var onMsg = { payload: \"On\" }\nvar offMsg = { payload: \"Off\" }\n\nif (msg.payload.Switch1) {\n    return onMsg;\n} else {\n    return offMsg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["472d0c4a.139cc4"]]},{"id":"65f62a41.b1fd94","type":"mqtt in","z":"7e32efb6.7318a","name":"","topic":"aghast/tuya/Towel Rail Socket/status","qos":"0","datatype":"json","broker":"fb4e4d64.1c3728","x":220,"y":420,"wires":[["ab99f6d5.462e38"]]},{"id":"ab99f6d5.462e38","type":"function","z":"7e32efb6.7318a","name":"TuyaSocketControlUpdate","func":"var onMsg = { payload: \"On\" }\nvar offMsg = { payload: \"Off\" }\n\nif (msg.payload.Switch1) {\n    return onMsg;\n} else {\n    return offMsg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":420,"wires":[["b815f7cb.044e98"]]},{"id":"fb4e4d64.1c3728","type":"mqtt-broker","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee21b06d.81921","type":"ui_group","name":"Ceiling Lamp","tab":"83606bf6.b32388","order":1,"disp":true,"width":"6","collapse":false},{"id":"966f0c62.49115","type":"ui_group","name":"Sockets","tab":"83606bf6.b32388","order":5,"disp":true,"width":"6","collapse":false},{"id":"83606bf6.b32388","type":"ui_tab","name":"Steve","icon":"dashboard","order":8,"disabled":false,"hidden":false}]